In [5]:
import pandas as pd
import numpy as np

# 1.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data 
 using Pandas module.

In [37]:
ds=pd.Series([1,2,3,4,5])
ds

0    1
1    2
2    3
3    4
4    5
dtype: int64

2.Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [38]:
print("Pandas Series and type")
print(ds)
print(type(ds))

print("Convert Pandas Series to list ")
ds=ds.tolist()
print(ds)
print(type(ds))

Pandas Series and type
0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to list
[1, 2, 3, 4, 5]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [39]:
ds1=pd.Series([2, 4, 6, 8, 10])
ds2=pd.Series([1, 3, 5, 7, 9])
subtract=ds1-ds2
multiple=ds1*ds2
divide=ds1/ds2
print(subtract)
print(multiple)
print(divide)

0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series. Go to the editor
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [3]:
ds3=pd.Series([2, 4, 6, 8, 10])
ds4=pd.Series([2, 4, 6, 8, 10])
print('Pandas Series 3 is bigger thanPandas Series 4 ')
print(ds3>ds4)
print('Pandas Series 3 is less thanPandas Series 4 ')
print(ds3<ds4)
print('Pandas Series 3 is less thanPandas Series 4 ')
print(ds3==ds4)
print('Pandas Series 3 is equal thanPandas Series 4 ')

NameError: name 'pd' is not defined

5. Write a Pandas program to convert a dictionary to a Pandas series. Go to the editor 
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [4]:
ds5={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds5=pd.Series(ds5)
print(type(ds5))
ds5

NameError: name 'pd' is not defined

6. Write a Pandas program to convert a NumPy array to a Pandas series. Go to the editor 
Sample Series: 
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50
dtype: int64

In [52]:
na=np.array([10,20 ,30 ,40, 50])
ns6=pd.Series(na)
print(ns6)
print(type(ns6))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

7. Write a Pandas program to change the data type of given a column or a Series. 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

8.Write a Pandas program to convert the first column of a DataFrame as a Series.

In [19]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
fd=pd.DataFrame(d)
fd
se=fd.iloc[0,0]
S =pd.Series(se)
# e=fd.ix[0:1,0:1]
# print(e)
# print(type(se))

In [22]:
print(S)
print(type(S))

0    1
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
# import pandas as pd
# d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
# df = pd.DataFrame(data=d)
# print("Original DataFrame")
# print(df)
# s1 = df.ix[:,0]
# print("\n1st column as a Series:")
# print(s1)
# print(type(s1))

Write a Pandas program to convert a given Series to an array. Go to the editor 
Sample Output: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

In [93]:

ser=pd.Series([100,200,'python',300.12,400])
print("Series to an array")
ser=ser.tolist()
ser

Series to an array

[100, 200, 'python', 300.12, 400]