# Exercises: pandas Series and DataFrames

In [39]:
import pandas as pd

## Problem 1:

Create a Pandas series called `prob1_ser` using a dictionary, that has the country name as index and population as the values.  Here is the data set (from 2017):

    * China     1,409,517,397
    * India     1,339,180,127
    * USA         324,459,463
    * Indonesia   263,991,379
    * Brazil      209,288,278

Give the data a name equal to $Population$.

In [40]:
prob1_dict = {"China": 1409517397, "India": 1339180127, "USA": 324459463, "Indonesia": 263991379, "Brazil": 209288278}
prob1_ser = pd.Series(prob1_dict, name='Population') # also ok to do prob1_ser.name = 'Population'
prob1_ser

China        1409517397
India        1339180127
USA           324459463
Indonesia     263991379
Brazil        209288278
Name: Population, dtype: int64

## Problem 2:

Create a Pandas DataFrame called `prob2_df` using a list of dictionaries that has 3 columns and 5 rows.  The column names are `Country Name`, `Population` and `Size` (which is in $km^2$).

      Country Name   Population          Size
    
    * China	   1,409,517,397     9,572,900
    * India       1,339,180,127     3,287,263
    * USA           324,459,463     9,629,091
    * Indonesia     263,991,379     1,904,556
    * Brazil        209,288,278     8,511,965

In [41]:
prob2_dict = [{"Country Name":"China", "Population" : 1409517397, "Size" : 9572900},
              {"Country Name":"India", "Population" : 1339180127, "Size" : 3287263},
              {"Country Name":"USA", "Population" : 324459463, "Size" : 9629091},
              {"Country Name":"Indonesia", "Population" : 263991379, "Size" : 1904556},
              {"Country Name":"Brazil", "Population" : 209288278, "Size" : 8511965}]
prob2_df = pd.DataFrame(prob2_dict)
prob2_df

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965

## Problem 3:

Using the Pandas DataFrame previously created (`prob2_df`), print the:
    
- Number of rows and columns
- Column Names
- A sample of 2 rows
- A summary of the values

In [42]:
print('Number of rows and columns:',prob2_df.shape)
print('Column Names:',list(prob2_df.columns))
print('Sample: \n\n',prob2_df.sample(2))
print(prob2_df.describe())

Number of rows and columns: (5, 3)
Column Names: ['Country Name', 'Population', 'Size']
Sample:

   Country Name  Population     Size
4       Brazil   209288278  8511965
1        India  1339180127  3287263
         Population          Size
count  5.000000e+00  5.000000e+00
mean   7.092873e+08  6.581155e+06
std    6.089883e+08  3.697593e+06
min    2.092883e+08  1.904556e+06
25%    2.639914e+08  3.287263e+06
50%    3.244595e+08  8.511965e+06
75%    1.339180e+09  9.572900e+06
max    1.409517e+09  9.629091e+06

## Problem 4:

Using the Pandas DataFrame previously created (`prob2_df`), print the:
    
- Data in the column `Population`
- The second row
- The size of the country in the last row

In [43]:
print(prob2_df)
print(prob2_df['Population'])
print(prob2_df.iloc[1])
print(prob2_df.loc[len(prob2_df)-1,'Size'])
# prob2_df.iloc[4,2]

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965
0    1409517397
1    1339180127
2     324459463
3     263991379
4     209288278
Name: Population, dtype: int64
Country Name         India
Population      1339180127
Size               3287263
Name: 1, dtype: object
8511965

## Problem 5:

Using the Pandas DataFrame previously created (`prob2_df`), print:
    
- A series that shows True or False for countries with Sizes greater than 3,500,000
- A series that shows True or False for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000
- A data frame that only shows the rows for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000

In [44]:
print(prob2_df)
print(prob2_df['Size']>3500000)
tf_series = (prob2_df['Size']>3500000) & (prob2_df['Population']<350000000)
print(tf_series)
print(prob2_df[tf_series])

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965
0     True
1    False
2     True
3    False
4     True
Name: Size, dtype: bool
0    False
1    False
2     True
3    False
4     True
dtype: bool
  Country Name  Population     Size
2          USA   324459463  9629091
4       Brazil   209288278  8511965

## Problem 6:

Using the Pandas DataFrame previously created (`prob2_df`):
    
- Change Brazil's population to 250,000,000
- Change China's size to 9,580,000

In [45]:
print(prob2_df)

prob2_df.loc[prob2_df['Country Name']=='Brazil','Population'] = 250000000
# prob2_df.loc[4,'Population'] = 250000000
print(prob2_df)

prob2_df.loc[prob2_df['Country Name']=='China','Size'] = 9580000
print(prob2_df)

  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   209288278  8511965
  Country Name  Population     Size
0        China  1409517397  9572900
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   250000000  8511965
  Country Name  Population     Size
0        China  1409517397  9580000
1        India  1339180127  3287263
2          USA   324459463  9629091
3    Indonesia   263991379  1904556
4       Brazil   250000000  8511965

## Problem 7:

Using the Pandas DataFrame previously created (`prob2_df`):
    
- Rename the indices to the first three letters of each country (e.g. 'Chi', 'Ind', 'USA', etc.) and assign the output to a new data frame called prob7_df

In [46]:
count_name = list(prob2_df['Country Name'])
# print(count_name)

count_dict = {}
for i, name in enumerate(count_name):
    print(i,name,name[0:3])
    count_dict[i] = name[0:3]
    print(count_dict[i])
print(count_dict)

prob7_df = prob2_df.rename(count_dict)# map old row index to new row index
prob7_df

0 China Chi
Chi
1 India Ind
Ind
2 USA USA
USA
3 Indonesia Ind
Ind
4 Brazil Bra
Bra
{0: 'Chi', 1: 'Ind', 2: 'USA', 3: 'Ind', 4: 'Bra'}

    Country Name  Population     Size
Chi        China  1409517397  9580000
Ind        India  1339180127  3287263
USA          USA   324459463  9629091
Ind    Indonesia   263991379  1904556
Bra       Brazil   250000000  8511965

## Problem 8:

Using the Pandas DataFrame previously created (`prob7_df`):
    
- Drop China from the data frame
- Add a new country at the bottom (Russia, Population = 143,989,754, Size = 17,098,246
- Save the answer on prob8_df

In [47]:
prob8_df = prob7_df.drop('Chi')
print(prob8_df)

prob8_df.loc["Rus"] = ["Russia", 143989754, 17098246]
print(prob8_df)

    Country Name  Population     Size
Ind        India  1339180127  3287263
USA          USA   324459463  9629091
Ind    Indonesia   263991379  1904556
Bra       Brazil   250000000  8511965
    Country Name  Population      Size
Ind        India  1339180127   3287263
USA          USA   324459463   9629091
Ind    Indonesia   263991379   1904556
Bra       Brazil   250000000   8511965
Rus       Russia   143989754  17098246

## Problem 9:

Using the Pandas DataFrame previously created (`prob8_df`):
    
    * Sort by Population ascending and in place

In [48]:
prob8_df.sort_values(by = "Population", ascending = True, inplace = True) 
print(prob8_df)

    Country Name  Population      Size
Rus       Russia   143989754  17098246
Bra       Brazil   250000000   8511965
Ind    Indonesia   263991379   1904556
USA          USA   324459463   9629091
Ind        India  1339180127   3287263

## Problem 10:

Using the Pandas DataFrame previously created (`prob8_df`):
    
    * Rename the columns as "Count", "Pop" and "Area""
    * Add a new column called "Pop/Area" and has as values the ratio of the Population over the Area

In [49]:
prob8_df.columns = ["Count", "Pop", "Area"]
print(prob8_df)

prob8_df[0,'Pop/Area'] = prob8_df['Pop']/prob8_df['Area']
prob8_df

         Count         Pop      Area
Rus     Russia   143989754  17098246
Bra     Brazil   250000000   8511965
Ind  Indonesia   263991379   1904556
USA        USA   324459463   9629091
Ind      India  1339180127   3287263

         Count         Pop      Area  (0, Pop/Area)
Rus     Russia   143989754  17098246       8.421317
Bra     Brazil   250000000   8511965      29.370422
Ind  Indonesia   263991379   1904556     138.610458
USA        USA   324459463   9629091      33.695752
Ind      India  1339180127   3287263     407.384541