# Exercises: pandas Series and DataFrames

In [98]:
import pandas as pd
import numpy as np

## Problem 1:

Create a Pandas series called `prob1_ser` using a dictionary, that has the country name as index and population as the values.  Here is the data set (from 2017):

    * China     1,409,517,397
    * India     1,339,180,127
    * USA         324,459,463
    * Indonesia   263,991,379
    * Brazil      209,288,278

Give the data a name equal to $Population$.

In [99]:
# prob1_ser=pd.Series(index=['china','India','USA','Indonesia','Brazil'],data=[1,2,3,4,5])
# prob1_ser
dic={'china':1409517397,'India':139180127,'USA':324459463,
     'Indonesia':263991379,'Brazil':20928278,
}
prob1_ser=pd.Series(dic,name="Population")
prob1_ser

china        1409517397
India         139180127
USA           324459463
Indonesia     263991379
Brazil         20928278
Name: Population, dtype: int64

## Problem 2:

Create a Pandas DataFrame called `prob2_df` using a list of dictionaries that has 3 columns and 5 rows.  The column names are `Country Name`, `Population` and `Size` (which is in $km^2$).

      Country Name   Population          Size
    
    * China	   1,409,517,397     9,572,900
    * India       1,339,180,127     3,287,263
    * USA           324,459,463     9,629,091
    * Indonesia     263,991,379     1,904,556
    * Brazil        209,288,278     8,511,965

In [100]:
# prob2_df=pd.DataFrame({"country name":["China","India", "USA","Indonesia","Brazil"],
#                        "Population":[1409517397,139180127,324459463,90480432804,20928278],
#                        "Size": [20928278,9240492,803508508,93493434,4838430834]})
# This is df of dictionarie.

Population_dic=[{"country_name":"China","Population":1409517397,"Size":20928278},
{"country_name":"India","Population":14,"Size":20000090028278},         
{"country_name":"USA","Population":14095107397,"Size":20928278}, 
{"country_name":"Indonesia","Population":1409517397,"Size":20928278},
{"country_name":"Brazil","Population":1497,"Size":20920008278},
]
# This is df using list of dictionaries
prob2_df=pd.DataFrame(Population_dic)
prob2_df

  country_name   Population            Size
0        China   1409517397        20928278
1        India           14  20000090028278
2          USA  14095107397        20928278
3    Indonesia   1409517397        20928278
4       Brazil         1497     20920008278

## Problem 3:

Using the Pandas DataFrame previously created (`prob2_df`), print the:
    
- Number of rows and columns
- Column Names
- A sample of 2 rows
- A summary of the values

 Suppose we have pandas DataFrame: 
 1) Find all column names
 2) Take the first 25 rows
 3) Take the last row
 4) Take the column with name “captain_id”
 5) Take only unique values from “trip_id”
 6) Find all rows which have “trip_price” grater than 16 and “distance_travaled” less than 3

In [101]:
1,2,3,4,5,6

(1, 2, 3, 4, 5, 6)

In [102]:
# prob2_df.shape
# prob2_df.columns
prob2_df.head(5)
# print('Number of rows and columns:',prob2_df.shape)
# print('Column Names:',list(prob2_df.columns))
# print('Sample:\n\n',prob2_df.sample(2))

  country_name   Population            Size
0        China   1409517397        20928278
1        India           14  20000090028278
2          USA  14095107397        20928278
3    Indonesia   1409517397        20928278
4       Brazil         1497     20920008278

## Problem 4:

Using the Pandas DataFrame previously created (`prob2_df`), print the:
    
- Data in the column `Population`
- The second row
- The size of the country in the last row

In [103]:
# print("Data in the column:\n ",prob2_df.Population)
# print('The second row: \n',prob2_df.iloc[1:2])
# print("The size of the country in the last row :\n",prob2_df.loc[len(prob2_df)-1,'Size'])


# print(prob2_df)
print(prob2_df['Population'])
# print(prob2_df.iloc[1])
# print(prob2_df.loc[len(prob2_df)-1,'Size'])
# prob2_df.iloc[4,2]

0     1409517397
1             14
2    14095107397
3     1409517397
4           1497
Name: Population, dtype: int64

## Problem 5:

Using the Pandas DataFrame previously created (`prob2_df`), print:
    
- A series that shows True or False for countries with Sizes greater than 3,500,000
- A series that shows True or False for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000
- A data frame that only shows the rows for countries with Sizes greater than 3,500,000 and Populations smaller than 350,000,000

In [104]:
# print(prob2_df.Size>35000000)
# print((prob2_df.Size>35000000) & (prob2_df.Population<350000000))
x=(prob2_df.Size>350000)&(prob2_df.Population<39832980)
prob2_df[x]

  country_name  Population            Size
1        India          14  20000090028278
4       Brazil        1497     20920008278

## Problem 6:

Using the Pandas DataFrame previously created (`prob2_df`):
    
- Change Brazil's population to 250,000,000
- Change China's size to 9,580,000

In [105]:
prob2_df.loc[4,'Population']=25000
prob2_df
# prob2_df['country_name']==Brazil
# prob2_df.rename(columns={})
# prob2_df.rename(columns={'age':'Hi'} ,inplace=False)
# prob2_df.rename(columns={'Hi':'country_nam'} ,inplace=True)

  country_name   Population            Size
0        China   1409517397        20928278
1        India           14  20000090028278
2          USA  14095107397        20928278
3    Indonesia   1409517397        20928278
4       Brazil        25000     20920008278

## Problem 7:

Using the Pandas DataFrame previously created (`prob2_df`):
    
- Rename the indices to the first three letters of each country (e.g. 'Chi', 'Ind', 'USA', etc.) and assign the output to a new data frame called prob7_df

In [106]:

prob7_df=pd.DataFrame(Population_dic)
u={}
for i in range(len(Population_dic)):
    u[i]=Population_dic[i]['country_name'][0:3]
print(u)
prob7_df =prob7_df.rename(u,axis='index')
prob7_df

{0: 'Chi', 1: 'Ind', 2: 'USA', 3: 'Ind', 4: 'Bra'}

    country_name   Population            Size
Chi        China   1409517397        20928278
Ind        India           14  20000090028278
USA          USA  14095107397        20928278
Ind    Indonesia   1409517397        20928278
Bra       Brazil         1497     20920008278

## Problem 8:

Using the Pandas DataFrame previously created (`prob7_df`):
    
- Drop China from the data frame
- Add a new country at the bottom (Russia, Population = 143,989,754, Size = 17,098,246
- Save the answer on prob8_df

In [113]:
prob8_df=prob7_df.drop(['Chi'])
prob8_df
add={'country_name':'Russia','Population':143989754,'Size':17}
prob8_df=prob7_df.append(add, ignore_index=True)
prob8_df

  country_name   Population            Size
0        China   1409517397        20928278
1        India           14  20000090028278
2          USA  14095107397        20928278
3    Indonesia   1409517397        20928278
4       Brazil         1497     20920008278
5       Russia    143989754              17

## Problem 9:

Using the Pandas DataFrame previously created (`prob8_df`):
    
    * Sort by Population ascending and in place

In [79]:
prob8_df.sort_values(by=['Population'])

  country_name   Population            Size
0        India           14  20000090028278
3       Brazil         1497     20920008278
4       Russia    143989754              17
2    Indonesia   1409517397        20928278
1          USA  14095107397        20928278

## Problem 10:

Using the Pandas DataFrame previously created (`prob8_df`):
    
    * Rename the columns as "Count", "Pop" and "Area""
    * Add a new column called "Pop/Area" and has as values the ratio of the Population over the Area

In [81]:
prob8_df.rename(columns={'country_name':'Count','Population':'Pop','Size':'Area'})

       Count          Pop            Area
0      India           14  20000090028278
1        USA  14095107397        20928278
2  Indonesia   1409517397        20928278
3     Brazil         1497     20920008278
4     Russia    143989754              17